@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 컨텐츠 스타일
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
.sub {min-height: calc(100vh - 19.2rem)}
.sub .sub-nav {position: absolute; width: 100%; top: 0; left: 50%; transform: translateX(-50%); background-color: #313131; z-index: 1;}
.sub .sub-nav ul {display: flex; align-items: center; justify-content: center; justify-items: stretch;}
.sub .sub-nav ul li a {display: block; text-align: center; font-size: 1.5rem; color: #7d7d7d; padding: 2.1rem 3rem; line-height: 1.2;}
.sub .sub-nav ul li.on a {color: #ffffff;}

#header.scroll + .sub .sub-nav ul {position: fixed; top: 6rem;}

/* 서브 비쥬얼 */
.sub-visual{}

.sub-visual.bg01{}

.sub-visual .tit-visual{}

.sub-visual .txt-visual{}

/* location */
.loc{  }
.loc ul{}
.loc ul li{}
.loc ul li + li{}
.loc ul li a{}
.loc ul li:first-of-type a{}
.loc ul li:last-of-type a{}

/*-------------------------------------------------------------------
    @메뉴명
-------------------------------------------------------------------*/
/* 역사 하이라이팅 */
.timeline {position: absolute; width: 100%; top: 0; left: 50%; transform: translateX(-50%); background-color: #313131; z-index: 1;}
.timeline ul {display: flex; align-items: center; justify-content: center;}
.timeline ul li a {display: block; text-align: center; font-size: 1.5rem; color: #7d7d7d; padding: 2.1rem 3rem; line-height: 1.2;}

.history {position: relative;}
.history .history-headline {background-color: #e1ded5; background-repeat: no-repeat; height: calc(100vh - 12rem); display: flex; align-items: center; justify-content: center;}
.history .history-headline.bg01 {background-image: url('../img/sub/bg_history_headline01.png'); background-position: calc(50% + 31.6rem); background-size: 64.4rem;}
.history .history-headline.bg02 {background-image: url('../img/sub/bg_history_headline02.png'); background-position: calc(50% + 33.3rem); background-size: 75.5rem;}
.history .history-headline .headline {width: 102rem; margin: 0 auto; padding-right: 51rem;}
.history .history-headline .headline .year-headline {font-size: 20rem; font-weight: 100; line-height: 1;}
.history .history-headline .headline .title-headline {font-size: 3.3rem; font-weight: 900; margin-top: 3.5rem;}
.history .history-headline .headline .text-headline {font-size: 1.7rem; font-weight: 300; line-height: 1.53; margin-top: 3rem;}

.history .history-detail {display: flex; align-items: flex-start; justify-content: flex-start;}
.history .history-detail .visual {width: 49rem; flex: none; min-height: calc(100vh - 12rem); /*position: sticky; left: 0; top: 12rem;*/ position: relative;}
.history .history-detail .visual .inner {position: relative; height: calc(100vh - 12rem);}
.history .history-detail .visual .text-visual {position: absolute; z-index: 1; width: 100%; top: 6.5rem; padding: 0 6.5rem; color: #ffffff; font-weight: 100; font-size: 8.2rem; line-height: 1.172;}
.history .history-detail .visual .bg-visual {position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; height: 100%;}
.history .history-detail .visual .bg-visual img {width: 100%; height: 100%; object-fit: cover;}
.history .history-detail .cont {padding-left: 13rem; padding-top: 7rem; padding-bottom: 7rem;}
.history .history-detail .cont .inner ul li {padding-left: 2.4rem; position: relative;}
.history .history-detail .cont .inner ul li + li {margin-top: 14rem;}
.history .history-detail .cont .inner ul li .line {position: absolute; width: 0.2rem; height: calc(100% + 14rem); background-color: #707070; left: 0.1rem; top: 1.5rem;}
.history .history-detail .cont .inner ul li:last-child .line {display: none;}
.history .history-detail .cont .inner ul li dl + dl {}
.history .history-detail .cont .inner ul li dl::before {content: ""; width: 0.6rem; height: 0.6rem; border-radius: 50%; background: #707070; position: absolute; left: -0.1rem; top: 1.2rem; transition: all 0.1s;}
.history .history-detail .cont .inner ul li dl::after {content: ""; position: absolute; width: 0.2rem; /*height: calc(100% + 14rem);*/ background-color: #cc1313; left: 0.1rem; top: 1.5rem;  transition: all 0.1s;}
.history .history-detail .cont .inner ul li:last-child dl::after {display: none;}
.history .history-detail .cont .inner ul li dl.aos-animate::after {height: calc(100% + 14rem);}
.history .history-detail .cont .inner ul li dl dt {font-size: 2rem; font-weight: 900; color: #707070; transition: all 0.1s; transition-delay: 0.3s;}
.history .history-detail .cont .inner ul li dl dd {margin-top: 0.2rem; font-size: 2rem; position: relative;}
.history .history-detail .cont .inner ul li dl.aos-animate::before {box-shadow: 0px 0px 0px 6px rgba(204,19,19,0.2); background-color: #cc1313;}
.history .history-detail .cont .inner ul li dl.aos-animate dt {color: #cc1313;}

#header.scroll + .sub .timeline {position: fixed; top: 6rem;}

.history .history-detail.on .visual .inner {position: fixed; left: 0; top: 12rem;}

/* 어제와 오늘 */
.change {padding-top: 11.5rem; padding-bottom: 6rem;}
.change .change-swiper {padding-left: 5.5rem; padding-right: 5.5rem; max-width: 105.5rem; margin: 0 auto; position: relative;}
.change .change-swiper .swiper .swiper-wrapper .swiper-slide:nth-child(odd) .caption-wrap {text-align: left;}
.change .change-swiper .swiper .swiper-wrapper .swiper-slide:nth-child(even) .caption-wrap {text-align: right;}
.change .change-swiper .swiper .swiper-wrapper .swiper-slide .caption-wrap .year {}
.change .change-swiper .swiper .swiper-wrapper .swiper-slide .caption-wrap .year span {display: inline-block; font-size: 3rem; font-weight: 100; line-height: 1.7334; box-shadow: inset 0px -0.3rem 0px 0px rgba(204,19,19,1);}
.change .change-swiper .swiper .swiper-wrapper .swiper-slide .caption-wrap .text {font-size: 1.5rem; font-weight: 600; line-height: 2; margin-top: 0.3rem;}
.change .change-swiper [class^="swiper-button-"] {width: 2.1rem; height: 3.6rem; margin: 0; transform: translateY(-50%); background-repeat: no-repeat; background-size: 100%; background-position: center;}
.change .change-swiper [class^="swiper-button-"]::after {display: none;}
.change .change-swiper .swiper-button-prev {background-image: url('../img/icon/ic_swiper_prev.png');}
.change .change-swiper .swiper-button-next {background-image: url('../img/icon/ic_swiper_next.png');}
.change .change-swiper .swiper-pagination {top: 86%; bottom: auto; display: flex; align-items: center; justify-content: center; gap: 0 1rem;}
.change .change-swiper .swiper-pagination .swiper-pagination-bullet {width: 1.6rem; height: 1.6rem; margin: 0; border: 1px solid transparent; background: radial-gradient(circle, rgba(147,149,152,1) 40%, rgba(255,255,255,1) 40%); opacity: 1;}
.change .change-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {border-color: #939598;}

/* 함께 하는 축하메시지 > 협회장 메시지 */
.message .greeting {max-width: 109rem; margin: 0 auto; padding-top: 13.5rem; padding-bottom: 12.5rem;}
.message .greeting .headline {background: url('../img/sub/bg_greeting_pc.png') no-repeat center top; background-size: cover; position: relative; height: 43.4rem;}
.message .greeting .headline > * {position: absolute;}
.message .greeting .headline .text-headline {top: 16rem; right: 8rem;}
.message .greeting .headline .text-headline p {font-size: 2.8rem; line-height: 1.358; padding-left: 3.5rem; padding-right: 3.5rem; position: relative;}
.message .greeting .headline .text-headline p::before,
.message .greeting .headline .text-headline p::after {position: absolute; width: 2.5rem; height: 1.7rem; background-repeat: no-repeat; background-size: 100%; background-position: center; content: "";}
.message .greeting .headline .text-headline p::before {background-image: url('../img/sub/img_double_quote_l.png'); left: 0; top: 0;}
.message .greeting .headline .text-headline p::after {background-image: url('../img/sub/img_double_quote_r.png'); right: 0; bottom: 2.2rem;}
.message .greeting .headline .president {right: 11.5rem; overflow: hidden; bottom: 7.5rem; padding-top: 1rem}
.message .greeting .headline .president > p {float: left;}
.message .greeting .headline .president > p + p {margin-left: 1rem;}
.message .greeting .headline .president .position {font-size: 1.5rem; line-height: 2.2; font-weight: 600; position: relative;}
.message .greeting .headline .president .position::before {content: ""; width: 3rem; height: 0.3rem; position: absolute; left: 0; top: -1rem; background-color: #cc1313;}
.message .greeting .headline .president .name {font-size: 2.2rem; font-weight: 600;}
.message .greeting .cont {border: 1px solid #070203; border-bottom-left-radius: 0.8rem; border-bottom-right-radius: 0.8rem; border-top: 0; padding: 6.5rem 14rem 17rem;}
.message .greeting .cont .text-headline {display: none;}
.message .greeting .cont .president {display: none;}
.message .greeting .cont .text {word-break: keep-all; font-size: 2rem; line-height: 1.7;}
.message .greeting .cont .date {text-align: center; font-size: 2rem; line-height: 1.7; margin-top: 8.5rem;}

.message .congrats {padding-top: 16rem; padding-bottom: 15rem; width: calc(100% + 8rem); margin-left: -4rem; margin-right: -4rem; background: url('../img/sub/bg_congrats_pc.png') no-repeat center; background-size: cover;}
.message .congrats img {margin: 0 auto;}

/* 찾아보는 역사 */
.media {background: url('../img/sub/bg_media.png') no-repeat top center; background-size: 144rem auto; display: flex; justify-content: center; padding-top: 32.3rem; padding-bottom: 13.8rem;}
.media ul {display: flex; align-items: center; justify-content: center; margin-left: -16.7rem}
.media ul li + li {margin-left: -3rem;}
.media ul li .cont-area {height: 43.5rem;}
.media ul li:first-child .cont-area {width: 43rem; background: url('../img/sub/bg_media_history.png') no-repeat center; background-size: 100%;}
.media ul li:last-child .cont-area {width: 54.1rem; background: url('../img/sub/bg_media_promotion.png') no-repeat center; background-size: 100%;}
.media ul li .text-area {margin-top: 3.4rem;}
.media ul li:first-child .text-area {padding-left: 16.7rem;}
.media ul li:last-child .text-area {padding-left: 24rem;}
.media ul li .text-area p {width: fit-content; margin: 0 auto; padding-top: 0.8rem; border-top: 1px solid #000000; font-size: 1.5rem; font-weight: 600;}

@media screen and (max-width: 1170px) {
    .sub .sub-nav ul {justify-content: space-around;}
    .sub .sub-nav ul li a {font-size: 1rem; padding: 2.4rem 0rem;}

    /*-------------------------------------------------------------------
        @메뉴명
    -------------------------------------------------------------------*/
    /* 어제와 오늘 */
    .change {padding-top: 9rem; padding-bottom: 6rem;}
    .change .change-swiper .swiper .swiper-wrapper .swiper-slide .caption-wrap .year span {font-size: 2.8rem;}
    .change .change-swiper .swiper .swiper-wrapper .swiper-slide .caption-wrap .text {font-size: 1.4rem;}

    /* 찾아보는 역사 */
    .media ul {flex-direction: column; gap: 6rem 0}
}

@media screen and (max-width: 750px) {
    .sub .sub-nav ul li a {font-size: 1.5rem; padding: 3.8rem 0rem;}

    /*-------------------------------------------------------------------
        @메뉴명
    -------------------------------------------------------------------*/
    /* 어제와 오늘 */
    .change {padding-top: 13.5rem; padding-bottom: 6rem;}
    .change .change-swiper {padding-left: 0; padding-right: 0; max-width: 100%;}
    .change .change-swiper .swiper .swiper-wrapper {flex-direction: column; gap: 7rem 0;}
    .change .change-swiper .swiper .swiper-wrapper .swiper-slide .img-wrap img {width: 100%;}
    .change .change-swiper .swiper .swiper-wrapper .swiper-slide:nth-child(even) .caption-wrap {text-align: left;}
    .change .change-swiper .swiper .swiper-wrapper .swiper-slide .caption-wrap .year span {font-size: 4.2rem;}
    .change .change-swiper .swiper .swiper-wrapper .swiper-slide .caption-wrap .text {font-size: 2.1rem;}
    .change .change-swiper [class^="swiper-button-"] {display: none;}
    .change .change-swiper .swiper-pagination {display: none;}

    .message .congrats {padding-top: 11.5rem; padding-bottom: 34.6rem; background: url('../img/sub/bg_congrats_mobile.png') no-repeat center; background-size: cover;}
}